@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: calc(12px + 4 * (100vw / 1280));
    scrollbar-color: black grey;
    scrollbar-width: thin;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    color: black;
}

::-webkit-scrollbar {
    background-color: grey;
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1em;
    box-shadow: inset 1px 1px 10px grey;
}

[class*="MuiTypography"], [class*="MuiButton"] {
    font-family: 'Montserrat', sans-serif !important;
    cursor: default;
}

body {
    line-height: 1;
    overflow-x: hidden !important;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
