/* :root {
    --primary-color: #2b099c;
    --secondary-color: #2c9ff2;
    --white-color: #ffffff;
    --dark-color: #171819;
    --project-bg: #f0f8ff;
    --menu-bg: #0c8195;
    --title-color: #15141a;
    --gray-color: #909090;
    --link-color: #404040;
    --p-color: #666262;
    --base-font-family: 'Plain-Light', sans-serif;
    --title-font-family: 'Plain-Regular', sans-serif;
    --font-bold-family: 'Plain-Bold', sans-serif;
    --font-weight-bold: bold;
    --h1-font-size: 42px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --p-font-size: 18px;
    --base-font-size: 16px;
    --menu-font-size: 14px;
    --border-radius-large: 100px;
    --border-radius-small: 5px;
} */

* {
	padding: 0px;
	margin: 0px;
	border: none;
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    font-size: calc(12px + 4 * (100vw / 1280));
    scrollbar-color: black grey;
    scrollbar-width: thin;
    font-family: 'Plain-Regular', sans-serif;
    scroll-behavior: smooth;
    color: black;
}

::-webkit-scrollbar {
    background-color: grey;
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1em;
    box-shadow: inset 1px 1px 10px grey;
}

[class*="MuiTypography"], [class*="MuiButton"] {
    font-family: 'Plain-Regular', sans-serif !important;
    cursor: default;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
